<!DOCTYPE html>
<html>
	<!--LINKS WON'T WORK IN THE TEMPLATE FOLDER!-->
	<head>
		<link rel="stylesheet" href="../../css/blogpost-style.css">
	</head>
	<body>
	<div>
		<h3 style="float:left">TITLE GOES HERE</h3>
		<h4 style="float:right">Date: HH:MM | DD/MM/YYYY</h4>
		<hr style="clear: both;">
	</div>
	<div id="txt-body" class="main-txt" style="clear:both; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;">
		MAIN CONTENT GOES HERE, INCLUDING CSS, JUST IN CASE.
	</div>
	</body>
</html>